{% load static %}
<footer>
    <div class="footer-content container">
        <a href="/main"><img src="{% static 'imgs/logo.svg' %}" alt="logo" /></a>
        <ul class="footer__lists">
            <li class="footer__list"><a href="/main" class="footer__link">Home</a></li>
            <li class="footer__list"><a href="#about" class="footer__link">About</a></li>
            <li class="footer__list"><a href="#projects" class="footer__link">Projects</a></li>
            <li class="footer__list"><a href="#contacts" class="footer__link">Contacts</a></li>
        </ul>
    </div>
    <p>Copyright ©2023 All rights reserved</p>
</footer>